.card {
    display: block ;
    align-items: center;
    gap: 12px;
  
    padding: 12px;
    border: 2px solid #2a2a2a;
    border-radius: 6px;
    background-color: #ffffff;
  }
  
  .name {
    font-weight: 600;
    color: #2a2a2a;
    margin: 0;
  }
  
  .online {
    color: green;
    margin-left: auto;
    margin: 0;
  }
  
  .offline {
    color: red;
    margin-left: auto;
    margin: 0;
  }
  